.root {
  border: 2px solid black;
  cursor: pointer;
  flex-grow: 0;
  width: 20vh;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}

.root:active {
  background-color: #F2F2F2;
}

.title {
  font-size: 5vh;
  user-select: none
}