.root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vmin;

}

.wrapper {
    display: flex;
    flex-shrink: 0;
    position: absolute;
    width: 60vh;
    height: 60vh;

}
@media only screen and (max-width: 600px) {
    .wrapper {
        width: 100vw;
    }
}
